/* Navigation Bar */
.total-navbar {
    padding: 0 25%;
    background-color: #f8f9fa;
}

.navbar-brand {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.85rem !important;
}

.NAVBAR_CONTENTS {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
}

.nav-item {
    padding: 0 3%;
}

.navbar {
    padding: 0.1% 0 !important;
}

/* blog section */

.blog {
    padding: 2% 25% 0;
}

.main-heading {
    font-family: 'Libre Baskerville', serif;
    padding: 0;
    margin: 0;
}

.heading {
    font-family: 'Libre Baskerville', serif;
    /* padding: 0.5%; */
}

.data {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
}

.table-data {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
}

.table-data {
    height: 120px;
    overflow: auto;
}

table {
    width: 100%;
}

td {
    padding: 0.75% 3% 0.75%;
}

tr:nth-child(odd) {background-color: #f8f9fa;}

/* Icons section */

.icons_tray a {
    text-decoration: none !important;
}

.icons_tray a:hover {
    text-decoration: none !important;
}

.icons_tray {
    padding: 1.5% 25% 0;
    text-align: center;
}

.ICON {
    color: #dadddf;
    padding: 0.75% 1%;
}

.ICON:hover {
    color: #5f6769;
}

/* tablet width */
@media screen and (max-width: 1100px) {
    /* News section */
    .table_data {
        height: 100%;
        overflow: auto;
    }
}

/* phone width */
@media screen and (max-width: 990px) {
    /* about me section */  
    .total-navbar {
        padding: 0 2%;
        background-color: #f8f9fa;
    }
    .blog {
        padding: 2% 4% 0;
    }
    .table_data {
        height: 100%;
        overflow: auto;
    }
    .icons_tray {
        padding: 0 2% 1%;
        text-align: center;
    }
    .footer{
        display: none;
    }
}

.footer{
    padding: 0 25% 0.25%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7rem;
}
