/* Navigation Bar */

.NAVBAR_HEADING {
    padding-left: 25%;
}

.navbar-brand {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.85rem !important;
}

.NAVBAR_CONTENTS {
    position: absolute;
    right: 0;
    padding-right: 25%;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
}

.nav-item {
    padding: 0 3%;
}

.navbar {
    padding: 0.1% 0 !important;
}

/* blog section */

.blog {
    padding: 2% 25% 0;
}

.main-heading {
    font-family: 'Libre Baskerville', serif;
    padding: 0;
    margin: 0;
}

.heading {
    font-family: 'Libre Baskerville', serif;
    /* padding: 0.5%; */
}

.table-data {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
}

.table-data {
    height: 120px;
    overflow: auto;
}

table {
    width: 100%;
}

td {
    padding: 0.75% 3% 0.75%;
}

tr:nth-child(odd) {background-color: #f8f9fa;}

/* Icons section */

.icons_tray a {
    text-decoration: none !important;
}

.icons_tray a:hover {
    text-decoration: none !important;
}

.icons_tray {
    padding: 1.5% 25% 0;
    text-align: center;
}

.ICON {
    color: #dadddf;
    padding: 0.75% 1%;
}

.ICON:hover {
    color: #5f6769;
}

/* 
headings:
font-family: 'Libre Baskerville', serif;
body:
font-family: 'Montserrat', sans-serif;
*/
